* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.form {
  height: 100%;
  text-align: center;
  background: #EEF0F2;
}
.form .form__image-box {
  margin-bottom: 32px;
}

form {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 31px 55px 91px;
}
form select {
  margin-bottom: 35px;
  max-width: 170px;
  -ms-flex-item-align: center;
      align-self: center;
  background: #F2F7FF;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 7px #000;
          box-shadow: 0 0 7px #000;
  padding: 14px 26px;
}
form select option {
  display: block;
  background: #F2F7FF;
  border-radius: 15px;
  padding: 14px 26px;
}
form .form__pay-item:last-child {
  margin-bottom: 0;
}
form .form__pay-item .form__pay-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 17px;
  border-radius: 18px;
  -webkit-box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.0901960784);
  padding: 14px 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
form .form__pay-item .form__pay-link:hover {
  -webkit-box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2392156863);
          box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2392156863);
}
form .form__pay-item .form__pay-link svg {
  margin-right: 18px;
}
form .form__pay-item .form__pay-link .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .form__pay-item .form__pay-link .qiwi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .form__pay-item .form__pay-link .yoomoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .form__pay-item .form__pay-link::after {
  content: "";
  background: url("../img/arrow.svg");
  width: 8px;
  height: 13px;
  left: 0;
  top: 0;
}

@media (max-width: 430px) {
  .form__pay-item .form__pay-link::after {
    display: none;
  }
  .form__pay-item .form__pay-link span svg {
    height: 31px;
    width: 21px;
  }
  .form__pay-item .form__pay-link span span {
    font-size: 14px;
  }
}
.message--active, .form__security, .form__button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.form__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 27px;
}
.form__card-info .form__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__card-info .form__input-box .label-float:first-child {
  margin-right: 10px;
}

.form__button {
  display: block;
  background: #0066FF;
  padding: 16px 0;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 35px;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__button:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.form__security {
  font-size: 13px;
  position: relative;
  color: #00C04D;
}
.form__security::before {
  content: "";
  background: url("/img/security.svg");
  position: absolute;
  display: block;
  height: 15px;
  width: 12px;
  left: 20px;
  top: 5px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.message--active {
  position: absolute;
  bottom: 0;
  padding: 18px;
  max-width: 325px;
  -ms-flex-item-align: center;
      align-self: center;
  background: #FFEDED;
  color: #FF0000;
  border-radius: 26.5px 26.5px 0px 0px;
  font-size: 14px;
}

.label-float {
  position: relative;
  padding-top: 13px;
}

.label-float input {
  border: 1px solid lightgrey;
  border-radius: 14px;
  outline: none;
  width: 100%;
  padding: 15px 20px;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.label-float input:focus {
  border: 2px solid #3951b2;
}

.label-float input::-webkit-input-placeholder {
  color: transparent;
}

.label-float input::-moz-placeholder {
  color: transparent;
}

.label-float input:-ms-input-placeholder {
  color: transparent;
}

.label-float input::-ms-input-placeholder {
  color: transparent;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 5px);
  left: 15px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: white;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.label-float input:invalid + label {
  color: #E2E2E2;
}

.label-float input:focus:required:invalid {
  border: 2px solid #0066FF;
}

.label-float input:not(:-moz-placeholder-shown) + label {
  font-size: 13px;
  top: 0;
  color: #0066FF;
}

.label-float input:not(:-ms-input-placeholder) + label {
  font-size: 13px;
  top: 0;
  color: #0066FF;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 13px;
  top: 0;
  color: #0066FF;
}

.form__card-info {
  position: relative;
}
.form__card-info .master {
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
}
.form__card-info .visa {
  position: absolute;
  top: 24px;
  right: 20px;
  display: none;
}
.form__card-info .mir {
  position: absolute;
  top: 34px;
  right: 25px;
  display: none;
}

@media (max-width: 450px) {
  .form__security::before {
    left: 3px;
  }
}
@media (max-width: 420px) {
  .form__security::before {
    left: -12px;
  }
}
html {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}
html body {
  height: 100%;
}

.wrapper {
  height: 100%;
}
.wrapper .container {
  height: 100%;
  max-width: 450px;
  margin: auto;
  padding: 0 10px;
}
.wrapper .form__inner {
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
}

.select {
  width: 210px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px;
  background: #F2F7FF;
  border-radius: 15px;
  font-size: 24px;
  color: #0066FF;
  z-index: 100;
}
.select--active {
  border-radius: 15px 15px 0 0;
}
.select--active .select__header {
  border-radius: 15px 15px 0 0;
  margin: 0;
}
.select--active .select__header .select__icon {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.select--active .select__body {
  display: block;
  background: #F2F7FF;
  border-radius: 0 0 15px 15px;
}
.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  max-width: 210px;
  -ms-flex-item-align: center;
      align-self: center;
  background: #F2F7FF;
  border-radius: 15px;
  padding: 14px 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.select__current {
  font-size: 18;
  line-height: 24px;
  padding: 8px;
}
.select__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  text-align: center;
  width: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.select__body {
  border-top: none;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 24px;
  z-index: 1000;
}
.select__item {
  line-height: 24px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}
.select__item:hover {
  background-color: #0066FF;
  color: #fff;
}

.form__back {
  padding-left: 10px;
  position: absolute;
  top: 117px;
  left: -19px;
}
.form__back-link {
  background: #fff;
  border-radius: 50%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3490196078);
          box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.3490196078);
}